<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verification Center</title>
  </head>
  <body>
    <h4>Enter email of user for verification:</h4>
    <form class="" action="/verify" method="post">
      <input type="text" name="email" value="">
      <button type="submit" name="button">Verify</button>
    </form>
    <% if(locals.msg){%>
      <p><%=msg%></p>
    <%}%>
  </body>

  <h3>Users waiting to be verified.</h3>

  <ul>
    <%users.forEach(user => {%>
    <li><%=user.email%></li>
    <%})%>
  </ul>
</html>
